@font-face {
    font-family: 'painter';
    src: url('../font/cool.ttf');}
body{
    background-image:url('../img/qsd.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.profil{
    color:black;
    background-image:linear-gradient(to right, white, #757575, white);
    padding:5px 0 5px 0;
    margin:0;
    box-shadow: 1px 1px 2px black;
    font-family: 'cool';
}
h1{
    font-size:1.2rem;
    font-weight:bold;
}
