footer{
    width:100%;
    background-image:linear-gradient(to bottom, #08088A, #8181F7);
    margin:0;
    padding:0;
}
.listFooter{
    list-style-type:none;
    text-decoration:none;
    padding-top:25px;
    padding-bottom:25px;
}
.linkFooter{
    font-size:1em;
    list-style-type:none;
    color:white;
    width:100%;
    height:100%;
    font-weight: bold;
}
.linkFooter:hover{
    color:#FF8000;
    font-weight: bold;
    text-decoration:none;
}