/*Paramétrage du body par défaut*/
body{
    margin-top:79px;
}
/*paramétrage du container*/
.container-fluid{
    padding:0;
    margin:0;
}
.row{
    padding:0;
    margin:0;
}
/*Listing et paramétrages des polices de texte*/
@font-face {
    font-family: 'jam';
    src: url('../font/jam.ttf');
}
/*Paramètres générals de la barre de navigation*/
.navbar{
    width:100%;
    background-image:linear-gradient(to bottom, #8181F7, #08088A);
    text-align: center;
    display:flex;
}
/*Affichage du logo avec la police*/
#logo{
    font-family: 'jam';
    font-size:35px;
}
/*Paramètres des champs de login et de mot de passe*/
#icoUser{
    width:25px;
    height:25px;
    background-color:white;
    padding-top:2px;
}
#user{
    background-color:white;
    padding-left:15px;
    padding-right:15px;
    border-radius:25px;
    height:30px;
    margin:5px;
}
#Pass{
    background-color:white;
    padding-left:15px;
    padding-right:15px;
    border-radius:25px;
    height:30px;
    margin:5px;
}
#icoPass{
    width:25px;
    height:25px;
    background-color:white;
    padding-top:2px;
}
.signIn{
    color:#FF8000;
    text-decoration:none;
    font-weight:bold;
}
.signIn:hover{
    text-decoration:none;
    color:#FF8000;
    cursor:pointer;
}
.forgot{
    font-size:11px;
}