body{
    background-image:url('../img/messages.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.borderBlock{
    background-color:#474646;
    border:1px solid black;
    margin-bottom:50px;
    color:white;
}
.messageBlockSelect{
    background-image: linear-gradient(to right, #1e1e1e, #3b3b3b ,#1e1e1e);
    border:1px solid black;
}
.listMessageSelect{
    list-style-type: none;
}
h1{
    font-size:1.9rem;
}
li{
    background-color: #666666;
    font-size:0.8rem;
    color:white;
}
p{
    font-size:0.7rem;
}
.pValidation{
    font-size:1.5rem;
}
li:hover{
    background-image: linear-gradient(to right, #232323, #666666);
    cursor:pointer;
    color:white;
}
h2{
    font-size:1rem;
    font-weight:bold;
}
.messages{
    overflow:auto;
    max-height: 170px;
}
.red{
    color:red;
}
.black{
    color:black;
}
.green{
    color:green;
}
.linkMessages, .messageReading{
    color:black;
}
.linkMessages:hover, .messageReading:hover{
    color:black;
    text-decoration:none;
}
#messagesSentBox, #messageAnswer{
    display:none;
}
#reSendButton{
    border: 1px solid white;
    color: #0082b0;
    cursor:pointer;
}
#answerMessage{
    border: 1px solid white;
    color: #0082b0;
    cursor:pointer;
}
#removeMessage{
    border: 1px solid white;
    color: #0082b0;
    cursor:pointer;
}
.bold{
    font-weight:bold;
}