@font-face {
    font-family: 'painter';
    src: url('../font/cool.ttf');
}
#publicBackground{
    background-image:url('../img/qsd.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#proBackground{
    background-image:url('../img/barLive.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
#musicianBackground{

    background-image:url('../img/musicienCarousel.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
}
.profilBlock{
    background-image: linear-gradient(to bottom right, #B11614, #4C070C);
    background-color:white;
    border:1px solid black;
    box-shadow:1px 1px 2px black;
    padding:5px;
}
.profilBlockContent{
    background-color:white;

}
.establishmentBlock, .bandBlock{
    background-image: linear-gradient(to bottom right, #B11614, #4C070C);
    border:1px solid black;
    box-shadow:1px 1px 2px black;
    padding:5px;
}
.establishmentContent, .bandContent{
    background-color:white;
    border:1px solid black;
    box-shadow:1px 1px 2px black;
}
.red{
    color:red;
}
.green{
    color:green;
}
.blue{
    color:blue;
    cursor:pointer;
}
h1{
    font-size:1.2em;
    font-weight: bold;
}
h2{
    font-size:1rem;
}
p{
    font-size:0.8rem;
    color:black;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}
/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;

    width: 8px;
    height: 8px;
}
.blog .carousel-indicators .active {
    background: #707070;
}
.removePhotos{
    border:none;
    color:blue;
    cursor:pointer;
}
.changePhoto{
    color:black;
    font-size:1.2rem;
    font-weight:bold;
}
.changePhoto:hover{
    color:grey;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
}
.photoBlock{
    background-image: linear-gradient(to right, rgb(109,109,109,0.9), rgb(82,82,82,0.9), rgb(109,109,109,0.9));
    border-bottom:2px solid black;
    box-shadow:1px 1px 2px black;
}
.remove{
    cursor:pointer;
    color:#c6c6c6;
    /*    display:none;*/
    float:right;
    margin-left:80%;
    text-shadow:1px 1px black;
}
#photo:hover ~ .remove{
    display:block;
}
#addPhoto:hover{
    text-decoration:none;
}
.addCompany, .addBand{
    color:#AD1F1D;
}
.addCompanyLink:hover, .addBandLink:hover{
    color:#AD1F1D;
    text-decoration:none;
}
.backRed{
    background-color:#900b0f;

}
.backGreen{
    background-color:#35b410;

}
.sentenceStatus{
    color:white;
    font-family: 'painter';
    font-size:1rem;
}
.Titleband{
    font-size:1.8rem;
    color:black;
}
.Titleband:hover{
    font-size:1.8rem;
    text-decoration:none;
    color:grey;
}
.changeInstrument{
    display:none;
}
.researchOption:hover, .musicianInResearch:hover{
    text-decoration:none;
    color:white;
}
.publications, .myConcert{
    background-color:white;
    border:1px solid black;
    box-shadow:1px 1px 2px black;
    padding:29.6px;

}
.linkOptions{
    color:black;
    font-weight:bold;
}
.linkOptions:hover{
    text-decoration:none;
    color:grey;
}
.profilePseudo{
    font-size:1.5rem;
    font-weight:bold;
}
.TitleEstablishment{
    color:black;
}
.TitleEstablishment:hover{
    text-decoration:none;
    color:grey;
}
.borderPicture1{
    border:2px solid #b50000;
    background-color:#900000;
}
.borderPicture2{
    border:2px dashed white;
    padding:2px;
    margin:2px;
}
.borderPicture3{
    border:2px solid #b50000;
}
.bandName{
    font-size:1rem;
}
#blockPresentationProfile :hover{
    box-shadow: 1px 2px 5px black inset;
}