@font-face {
    font-family: 'painter';
    src: url('../font/cool.ttf');}
body{
    background-image:url('../img/qsd.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.row{
    margin:0;
    padding:0;
}
.profilBlock{
    background-color:white;
    border:1px solid black;
    box-shadow:1px 1px 2px black;
    padding:29.6px;
}
.title{
    font-size:1.5rem;
    color:white;
    padding-top:2%;
    color:white;
}
h1{
    font-size:1.5rem;
    font-weight:bold;
}
h2{
    font-size:1.8rem;
    font-weight:bold;
}
p{
    font-size:0.7rem;
}
li{
    list-style-type:none;
}
.bold{
    font-weight: bold;
}
.block{
    width:75%;
}
.profileName{
    color:black;
    font-size:1.2rem;
}
.friendsPicture{
    cursor:pointer;
    border:1px solid black;
    margin-right:0.5vw;
}
#concertBlock{
    margin-bottom:61px;
}
.profil{
    color:black;
    background-image:linear-gradient(to right, white, #757575, white);
    padding:5px 0 5px 0;
    margin:0;
    box-shadow: 1px 1px 2px black;
    font-family: 'cool';
}
.profil h1{
    text-align:center;
}
.hrName{
    border:1px solid white;
}
.profilContent{
    padding-top:33px;
}
#optionBoard{
    background-color:white;
    border: 2px solid black;
    margin-top:50px;
}
#showDetails{
    margin-top:33px;
}
#passChanging{
    margin-top:33px;
}
#submitPass{
    margin-top:5px;
    cursor:pointer;
}
.red{
    color:red;
}
.icoUser{
    margin:0;
    padding:0;
    border:1px solid grey;
}
.green{
    color:green;
}
.showPresentation{
    display:none;
}
.eMailOptionTitle, .addressOptionTitle, .phoneNumberOptionTitle, .removeUserOptionTitle{
    font-weight:bold;
    font-size:1.1rem;
    cursor:pointer;
    color:black;
}
.eMailOptionTitle:hover, .addressOptionTitle:hover, .phoneNumberOptionTitle:hover, .removeUserOptionTitle:hover{
    font-weight:bold;
    font-size:1.1rem;
    cursor:pointer;
    color:grey;
    text-decoration:none;
}
hr{
    width:80%;
}
#eMailOptionForm, #addressOptionForm, #phoneNumberOptionForm{
    display:none;
}
.bandBlock, .companyBlock{
    background-color:white;
    border:3px solid black;
    border-radius:15px;
    margin-top:30px;
    padding:15px;
    box-shadow:1px 1px 3px white;
}
.bandRemove{
    font-weight: bold;
    font-size:1.2rem;
    color:black;
}
.bandRemove:hover{
    font-weight: bold;
    font-size:1.2rem;
    color:red;
    text-decoration:none;
}
.addPhotoLink{
    font-size:1.2rem;
    font-weight:bold;
    color:black;
}
.addPhotoLink:hover{
    font-size:1.2rem;
    font-weight:bold;
    color:green;
    cursor:pointer;
}
#formPhoto{
    display:none;
}
.blog .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -40px;
}
/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.blog .carousel-indicators .active {
    background: #707070;
}
.removePhotos{
    border:none;
    color:blue;
    cursor:pointer;
}
.changePhoto{
    color:black;
    font-size:1.2rem;
    font-weight:bold;
}
.changePhoto:hover{
    color:grey;
    text-decoration:none;
    font-size:1.2rem;
    font-weight:bold;
}
.formPhoto{
    display:none;
}
#modalProParametersLink{
    font-weight:bold;
    font-size:1.2rem;
    color:black;
}
#modalProParametersLink:hover{
    font-weight:bold;
    font-size:1.2rem;
    color:grey;
    cursor:pointer;
    text-decoration:none;
}
.linkProParameters1, .linkProParameters2, .linkProParameters3{
    font-weight:bold;
    font-size:1.2rem;
    color:black;
}
.linkProParameters1:hover, .linkProParameters2:hover, .linkProParameters3:hover{
    font-weight:bold;
    font-size:1.2rem;
    color:grey;
    cursor:pointer;
    text-decoration:none;
}
#changePhotoForm, #changeNameForm{
    display:none;
}