@font-face {
    font-family: 'painter';
    src: url('../font/cool.ttf');}
body{
    background-image:url('../img/qsd.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.row{
    margin:0;
    padding:0;
}
.profilBlock{
    background-color:white;
    border:1px solid black;
    box-shadow:1px 1px 2px black;
    padding:29.6px;
}
.title{
    font-size:1.5rem;
    color:white;
    padding-top:2%;
    color:white;
}
h1{
    font-size:1.5rem;
    font-weight:bold;
}
h2{
    font-size:1.8rem;
    font-weight:bold;
}
p{
    font-size:0.7rem;
}
li{
    list-style-type:none;
}
.bold{
    font-weight: bold;
}
.block{
    width:75%;
}
.profileName{
    color:black;
    font-size:1.2rem;
}
.friendsPicture{
    cursor:pointer;
    border:1px solid black;
    margin-right:0.5vw;
}
#concertBlock{
    margin-bottom:61px;
}
.profil{
    color:black;
    background-image:linear-gradient(to right, white, #757575, white);
    padding:5px 0 5px 0;
    margin:0;
    box-shadow: 1px 1px 2px black;
    font-family: 'cool';
}
.profil h1{
    text-align:center;
}
.hrName{
    border:1px solid white;
}
.profilContent{
    padding-top:33px;
}
#optionBoard{
    background-color:white;
    border: 2px solid black;
    margin-top:50px;
}
#showDetails{
    margin-top:33px;
}
#passChanging{
    margin-top:33px;
}
#submitPass{
    margin-top:5px;
    cursor:pointer;
}
.red{
    color:red;
}
.green{
    color:green;
}
.showPresentation{
    display:none;
}
.secondBoard{
    margin-bottom:33px;
    margin-top:33px;
}
.eMailOptionTitle, .addressOptionTitle, .phoneNumberOptionTitle, .removeUserOptionTitle{
    font-weight:bold;
    font-size:1.1rem;
    cursor:pointer;
    color:black;
}
.eMailOptionTitle:hover, .addressOptionTitle:hover, .phoneNumberOptionTitle:hover, .removeUserOptionTitle:hover{
    font-weight:bold;
    font-size:1.1rem;
    cursor:pointer;
    color:grey;
    text-decoration:none;
}
hr{
    width:75%;
}
#eMailOptionForm, #addressOptionForm, #phoneNumberOptionForm{
    display:none;
}
.bandBlock{
    background-color:white;
    border:2px solid black;
    border-radius:15px;
    margin-top:30px;
    padding:15px;
}
.bandRemove{
    font-weight: bold;
    font-size:1.2rem;
}
.bandRemove:hover{
    font-weight: bold;
    font-size:1.2rem;
    color:grey;
}