/*paramétrage du container*/
.container-fluid{
    padding:0;
    margin:0;
}
.row{
    padding:0;
    margin:0;
}
/*------------------------------------------------------------font----------------------------------------------------------------------*/
@font-face {
  font-family :'textslide';
  src: url('../font/cool.ttf');
}
@font-face {
  font-family:'keepcalm';
  src: url('../font/titrenavburg.ttf');
}
@font-face {
  font-family:'jam';
  src: url('../font/jam.ttf');
}
/*---------------------------------------------------------Fond d'écran------------------------------------------------*/
body{
    background: url("../img/forget.jpeg") fixed no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
}
#userForgetForm{
    background-color:white;
    border:5px solid black;
    box-shadow: 3px 3px 5px white;
    margin-top:100px;
    margin-bottom:100px;
    border-radius:30px;
    text-align:center;
    padding:15px;
}
#email{
    margin:10px;
    text-align:center;
}

