@font-face {
    font-family: 'painter';
    src: url('../font/painter.ttf');
}
/*=====================================================Présentation pour le public===============================================*/
body{
    background-image: url("../img/musicianForm.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
}
#publicPresent, #musicianPresent, #proPresent{
    margin:2%;
}
p{
    font-size:0.8rem;
    text-align:center;
}
h1{
    font-size:2.5rem;
    text-align:center;
    font-family: 'painter';
}
.aboard{
    font-style:italic;
    font-size:1.5em;
}
#presentSection{
    background-image: linear-gradient(to left, rgb(204,204,204), rgb(255,255,255), rgb(204,204,204));
}
section{
    height:100%;
}
hr{
    margin:5%;
}