/*----------------------------------------------------font-----------------------------------------------*/
@font-face {
    font-family: 'painter';
    src: url('../../font/painter.ttf');
}
body{
    background: url("../../img/forget.jpeg") no-repeat;
    background-repeat:no-repeat;
    background-size:cover;
}
/*paramétrage du container*/
.container-fluid{
    padding:0;
    margin:0;
}
.row{
    padding:0;
    margin:0;
}
.col-12{
    margin:0;
    padding:0;
}
h2{
    color:black;
    font-family: 'painter';
    margin: 1em 0 1em 0;
}
h1{
    color:black;
    text-shadow: 1px 1px 4px grey;
}
.form, #result{
    margin-top:1em;
    padding:2em;
    background-color:#dfdfdf;
    border: 1px solid black;
    border-radius:15px;
    box-shadow: 2px 2px 5px black;
}
.validatePublicForm{
    padding:4em;
}
#section{
    margin-top:0.5em;
}
.red{
    color:red;
}
.green{
    color:green;
}
.invisible{
    display:none;
}
.homeBlock{
    background-image:linear-gradient(to bottom, #8181F7, #08088A);
}
.homeTitle{
    font-family: 'Rationale', sans-serif;
    color:white;
    font-size:3.5rem;
}
#logo{
    color:white;
}
#logo:hover{
    color:white;
    text-decoration: none;
}
/*Paramètres des champs de login et de mot de passe*/
#icoUser, #icoPass{
    width:25px;
    height:25px;
    background-color:white;
    padding-top:2px;
}
#user, #Pass{
    background-color:white;
    padding-left:15px;
    padding-right:15px;
    border-radius:25px;
    height:30px;
    margin:5px;
}
.signIn{
    color:#FF8000;
    text-decoration:none;
    font-weight:bold;
}
.signIn:hover{
    text-decoration:none;
    color:#FF8000;
    cursor:pointer;
}